.gameContainer {
  width: 100vw;
  height: calc(100vh - 56px);
  position: absolute;
 
} 

canvas {
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}